<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dubu.skijangter"
          android:versionCode="102"
          android:versionName="1.1" >

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".BootstrapApplication"
            android:icon="@drawable/icon2"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bootstrap.Dark"
            android:debuggable="false">

        <activity
                android:name=".ui.SplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.BootstrapTimerActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize" android:label="@string/app_name"
                  android:launchMode="singleTop"/>

        <service android:name=".core.TimerService" android:enabled="true" android:exported="false" />

        <service
                android:name=".authenticator.AccountAuthenticatorService"
                android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <activity
                android:name=".authenticator.BootstrapAuthenticatorActivity"
                android:excludeFromRecents="true" >

            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <activity  android:name=".ui.CarouselActivity" />

        <activity android:name=".ui.NewsActivity" />
        <activity android:name=".ui.UserActivity" android:label="@string/app_name" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>